@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(24 24 27);
  background-color: rgb(229 231 235);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@layer components {
  body {
    @apply font-sans;
  }

  h1 {
    @apply font-regular;
  }

  strong {
    @apply text-dark_500;
  }
}
